

@media screen and (max-width:768px) {
    #center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        display: flex;
        align-items: start;
    }
    .sub-section {
        display: flex;
        align-items: start;
    }
    .header-img {
        width: auto;
    }
    .header-img {
        padding: 1em;
    }
}