


body {
    display: flex;
    font-family: Ubuntu, sans-serif;
    flex-direction: column;
}
footer p {
    margin-top: 5em;
    font-size: small;
}


h1 {
    font-size: 50px;
    margin: .2em;
    align-self: center;
}

img {
    margin: auto;
    width: 100%;
}


.nav-links {
    padding-left: 0;
}

* {
    box-sizing: border-box;
}
.sub-section {
    font-style: italic;
}
li {
    list-style-type: none;
    background-color: darkgrey;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin: .5em 0;
}

section p {
    font-size: medium;
}


@media screen and (max-width:768px) {
    #center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        display: flex;
        align-items: start;
    }
    .sub-section {
        display: flex;
        align-items: start;
    }
    .header-img {
        width: auto;
    }
    .header-img {
        padding: 1em;
    }
}