
* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Ubuntu, sans-serif;
    flex-direction: column;
}

.alert-info {
    background-color: lightblue;
    border: 1px solid black;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: .2em;
    align-self: center;
}

img {
    margin: auto;
    width: 100%;
}

div a:nth-of-type(1) {
    text-decoration: none;
    color: black;
}

.nav-links {
    padding-left: 0;
}

li {
    list-style-type: none;
    background-color: darkgrey;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin: .5em 0;
}

.sub-section {
    font-style: italic;
}

section p {
    font-size: medium;
}

footer p {
    margin-top: 5em;
    font-size: small;
}


@media screen and (max-width:768px) {
    #center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        display: flex;
        align-items: start;
    }
    .sub-section {
        display: flex;
        align-items: start;
    }
    .header-img {
        width: auto;
    }
    .header-img {
        padding: 1em;
    }
}