
<<<<<<< HEAD
    body {
        display: flex;
        font-family: sans-serif;
        flex-direction: column;
    }
    .alert-info-hidden-on-desktop {
        visibility: hidden;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
    footer.footer{
        justify-content: space-between;
        align-content: end;
    }

    footer p {
        margin-top: 5em;
        font-size: small;
        display: flex;
        align-content:flex-end;
    }
    #social-media-links {
        align-self: flex-end;
    }

    h1 {
        font-size: 50px;
        margin: .2em;

    }
    .header-div{
        display: flex;
        justify-content: space-between;

    }

    img {
        margin: auto;
        width: 100%;
    }
    nav {
        display: flex;
    }

    .nav-links {
        justify-content: space-evenly;

    }

    * {
        box-sizing: border-box;
    }
    .section-div{
        display: flex;
        flex-direction: row;
        margin-bottom: 15em;
    }

    .sub-section {
        font-style: italic;
    }
    ul {
        display: flex;
    }

    li {
        list-style-type: none;
        text-align: center;
        width: 100%;
        padding: 1em 1em;
        margin: .5em 0;
        flex-direction: row;

    }
    .main{
        margin-right: 4em;
    }

    section p {
        font-size: medium;
    }
=======
body {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
}
.alert-info-hidden-on-desktop {
    visibility: hidden;
}
footer{
    display: flex;
    flex-direction: row;
}
footer.footer{
    justify-content: space-between;
    align-content: end;
}

footer p {
    margin-top: 5em;
    font-size: small;
    display: flex;
    align-content:flex-end;
}
#social-media-links {
    align-self: flex-end;
}

h1 {
    font-size: 50px;
    margin: .2em;

}
.header-div{
    display: flex;
    justify-content: space-between;

}

img {
    margin: auto;
    width: 100%;
}
nav {
    display: flex;
}

.nav-links {
    justify-content: space-evenly;

}

* {
    box-sizing: border-box;
}
.section-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 15em;
}

.sub-section {
    font-style: italic;
}
ul {
    display: flex;
}

li {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 1em 1em;
    margin: .5em 0;
    flex-direction: row;

}
.main{
    margin-right: 4em;
}

section p {
    font-size: medium;
}
>>>>>>> 8f89facc05e2f547c7a5718ed98804043edba207

@media screen and (max-width:768px) {
    #center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        display: flex;
        align-items: start;
    }
    .sub-section {
        display: flex;
        align-items: start;
    }
    .header-img {
        padding: 1em;
        width: auto;
    }
    .alert-info-hidden-on-desktop {
        visibility: visible;
        border-style: solid;
        border-color: gray;
        background-color: lightblue;

    }
    .nav-links {
        background-color: lightgrey;
        flex-direction: column;
        justify-content: center;
        width: 100%;

<<<<<<< HEAD
    }
    nav {

      justify-content: center;
    }
    ul {
        display: flex;
        align-content: center;
    }
=======
    }
    nav {

        justify-content: center;
    }
    ul {
        display: flex;
        align-content: center;
    }
>>>>>>> 8f89facc05e2f547c7a5718ed98804043edba207
    .header-div {
        display: flex;
        flex-direction: column;
    }
    h1 {
<<<<<<< HEAD
      align-content: center;
=======
        align-content: center;
>>>>>>> 8f89facc05e2f547c7a5718ed98804043edba207
    }

}